<section>
  <H1 class="title">Hi,developers</H1>
  <p>My name is mohammed lamine, </p>
  <p> I'm an IT department manager for more than 10 years , </p>
  <p> I receive every day Dozens of requests to intervene to solve technical
    problems, and I noticed during this time that most problems can be solved automatically with small
    applications.
  </p>
  <p> From there I started learning to develop backend applications using nodejs.
  </p>
  <p>
    But sometimes these applications need a front-end interface to deal with them, and after researching, I found
    that the React library is the most suitable for developing user interfaces for the company's
    applications.
  </p>
  <p> There are great courses in this field, but they are not enough to cover all the
    concepts.
  </p>
  <p>
    And because I believe that books are the best way to learn, I decided to create this website as a reference
    for me and others to follow the latest publications in the field of coding and programming.
  </p>


</section>


</div>