<section class="message-section">
  <h1>contact us</h1>
  <p>Need a book ? drop us the title or the subject and we will find it for you.</p>
  <form autocomplete="true" class="form  " id="contact-us-form">
    <input class="  " type="text" placeholder="Your name" name="username" required id="contact-us-username" />
    <input class=" " type="text" placeholder="Email address" name="email" required id="contact-us-email" />
    <!-- pattern="[a-zA-Z0-9-_]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" -->
    <textarea class="  " placeholder="Your message here ..." type="text" name="message" rows="4"
      id="contact-us-message"></textarea>
    <input class="btn " type="submit" value="Send" id="contact-us-submit" />
  </form>
</section>