<section class="disclosure">
  <p> Please note that this page contains
    affiliate
    links
    and
    any
    purchase made
    through
    such links will award me a small commission <br />(at absolutely no extra cost for you). <br>These keep this service
    up
    and running. </p>
</section>