<footer>

  <!--------  social section  ------->
  <div class="footer-social ">
    <a href="https://github.com/MohammedLamineOuahabi?tab=repositories">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/mohammedlamineouahabi/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>

  <!--------  copy-write section  ------->
  <div class="footer-copy-write ">
    <a href="/">Coding<span class="c-secondary">BOOKS</span></a>
  </div>
  <!--------  links section  ------->
  <div class="footer-links ">
    <ul>
      <!--  <li><a href="/" class="active">disclaimer</a></li> -->
      <li><a href="/privacy-policy">privacy policy</a></li>
    </ul>
  </div>

</footer>


<script src="js/hamburger.js"></script>
<% if (page_name==='home' ) { %>
  <script src="js/data.min.js"></script>
  <script src="js/load-data.js"></script>
  <% } %>

    <% if (page_name==='contact' ) { %>
      <script src="js/contact-us.js"></script>
      <% } %>
        <% if (page_name==='blog' || page_name==='home' ) { %>
          <script src="js/subscribe.js"></script>
          <% } %>
            </body>

            </html>