<!-- Header section -->
<header class="vertical-spacer">
  <!-- <img id="svg" src="images/hero.svg" class="svg" alt="Searching for Reactjs Books" /> -->
  <div class="logo">
    <p>Don't Just Scratch the Surface; <br>Read a <span>Book</span> & Go <span>Deep</span>.</p>
  </div>
  <div class="search">
    <input id="searchInput" type="search" autocomplete="off" spellcheck="false" aria-live="polite" autofocus=""
      placeholder="Search for a title from the TOP rated only." />
  </div>

</header>