<!-- subscribe section -->
<section class="subscribe-section" id="subscribe-section">
  <div class="to-be-hide" id="to-be-hide">
    <div class="title">Subscribe</div>
    <p class="description  u-mb-s">Stay up to date with the <span class="keyword">LATEST</span> & <span
        class="keyword">TOP RATED</span> Coding Books</p>
    <form autocomplete="off" id="subscribe-form" class="form">
      <input class="" id="subscribe-email" type="text" placeholder="Email address" name="email" required
        pattern="[a-zA-Z0-9-_]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$" />
      <input id="subscribe-submit" class="btn-cta" type="submit" value="Notify Me" />
    </form>
  </div>
</section>