/****************  init sections     *********************/
section:first-of-type {
  margin-top: 6rem;
}

section {
  @include wrap;
  padding: 5rem 0;

  & .header-image {
    width: 100%;
    height: auto;
    margin: 3rem auto;
    & img {
      width: 100%;
      height: auto;
    }
  }

  & .title {
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $color-primary;
    font-size: 5rem;
    padding: 0;
  }
  & p {
    font-size: 2.4rem;
    color: $color-gray-2;
  }
}

/****************  subscribe  section     *********************/
.subscribe-section,
.message-section {
  padding: 5rem 18rem;
  background-color: #35363a;
  & .title {
    padding: 0;
  }
  & p {
    color: $color-gray-0;
  }
}
/****************  subscribe  section     *********************/
.message-section {
  background-color: #fff;

  & p {
    color: $color-gray-4;
  }
}

/****************  disclosure section     *********************/
.disclosure {
  padding: 5rem 18rem;
  background-color: aliceblue;
  & p {
    font-size: 2.4rem;
    color: $color-gray-3;
    text-align: center;
  }
}
/****************  responsive adjustments     *********************/
@include respond(tab-port) {
  section,
  .subscribe-section,
  .message-section,
  .disclosure {
    padding: 3rem 2rem;
  }
}
/*********************************************************/

.message {
  font-size: 2.4rem;
  color: $color-gray-2;
  text-align: center;
  line-height: 1.6;
  @include absCenter;
}

/*********************************************************/

/* section {
  padding: 6rem 0rem;
  color: $color-gray-2;
  h1 {
    margin-bottom: 3rem;
    font-size: 3.2rem;
    font-weight: bolder;
  }
  h2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
  & p,
  a {
    text-align: justify;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
  & a {
    color: $color-secondary;
  }
}

@include respond(tab-port) {
  section {
    padding: 2rem;
  }
}
*/
